<div class="form-horizontal" form="role">
<%= form_for(@spending) do |f| %>

  <!--月選択フォーム-->
  <div class="form-group">
    <%= f.label :月, class: "formSize" %>
    <div class="formSize">
      <%= f.select :month, (1..12).map { |p| [p] }, :selected => Time.now.month, class: "form-control" %>
    </div>
  </div>

  <!-- 日選択フォーム -->
  <div class="form-group">
    <%= f.label :日, class: "formSize" %>
    <div class="formSize">
      <%= f.select :day, (1..31).map { |p| [p] }, :selected => Time.now.day, class: "form-control" %>
    </div>
  </div>

  <!-- カテゴリ選択フォーム -->
  <div class="form-group">
    <%= f.label :カテゴリ, class: "formSize" %>
    <div class="formSize">
    <%= f.select :category, ['朝食', '昼食', '夕食',
                             '趣味', '旅行', '交際',
                             '食材', '家賃', 'その他'], class: "form-control" %>
    </div>
  </div>
  
  <!-- 金額入力フォーム  -->
  <div class="form-group">
    <%= f.label :金額, class: "formSize" %>
    <div class="formSize">
      <%= f.text_field :amount, class: "form-control input-sm" %>
    </div>
  </div>

  <!-- 記録ボタン -->
  <%= f.submit "記録", class: "btn btn-primary mrg" %>
<% end %>
</div>