<% @spendings.each do |spending| %>
  <tr>
    <td><%= spending.month %></td>
    <td><%= spending.day %></td>
    <td><%= spending.category %></td>
    <td><%= number_to_currency(spending.amount, :unit => '￥' ) %></td>
    <td><%= link_to '削除', spending, method: :delete, class: "btn btn-danger btn-sm" %></td>
  </tr>
<% end %>