<!-- 合計支出額 -->
<div class="panel panel-default">
  <div class="panel-heading">
    合計支出額
  </div>
  <div class="panel-body">
    <%= number_to_currency(Spending.where(month: @day).sum(:amount), :unit => '￥') %>   <!-- 月毎の合計を表示 -->
  </div>
</div>

