<div class="container">
  <div class="row" style="margin-top:20px;">
    <!-- サイドバー -->
    <div class="col-sm-2 col-sm-offset-1 sideHead">
      <%= render 'spendings/sum_amount' %>
      
      <!-- 記録するボタン -->
      <div class="record" style="margin-bottom:30px;">
        <a data-toggle="modal" href="#myModal" class="btn btn-primary">記録する</a>
      </div>
    </div>
    
    
    <!-- メインカラム -->
    <div class="col-sm-8">
     
      <!-- 支出した月の表示 -->
      <div class="row"  style="margin-bottom:10px;" >
        <div class="col-xs-1 col-xs-offset-1">
          <% if @day != 1 %>
            <%= link_to "#{@day-1}月", spendings_path(:switch => @day - 1), class: "btn btn-info top"%>
          <% end %>
        </div>
        <div class="col-xs-6 col-xs-offset-1">
          
        <h1><%= @day %>月</h1>
        
        </div>
        <div class="col-xs-offset-1 col-xs-1" sytle="margin-top:20px;">
          <% if @day != 12 %>
            <%= link_to "#{@day+1}月", spendings_path(:switch => @day + 1), class: "btn btn-info top"%>
          <% end %>
        </div>
      </div>
      
      <!-- 支出リスト 見出し -->
      <table class="table">
        <thead>
          <tr>
            <th>月</th>
            <th>日</th>
            <th>カテゴリ</th>
            <th>金額</th>
            <th></th>
          </tr>
        </thead>
        
        <!-- 支出リスト 内容 -->
        <tbody>
          <!-- 支出リストを作成する処理 -->
          <%= render 'spendings/spending_list' %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--入力フォームのポップアップ -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">支出記録</h4>
      </div>
      <div class="modal-body" style="height:244px;">
        <%= render 'spendings/form' %>
      </div>
    </div>
  </div>
</div>