@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center;
}

/* 入力フォーム表示ボタン */
.record{
  width:100px;
  margin-top:20px;
  margin:auto;
}

/* フォーム装飾 */

/* 入力フォームの装飾 */
select, .uneditable-input {
  border: 1px solid #bbb;
  /*margin: 15px 0;*/
}

/* 記録ボタンの位置調整 */
.mrg{
  width:100px;
  position:absolute;
  bottom:15px;
  right:15px;
}

/* モバイル時の入力フォームレイアウト */
.formSize{
  height:25px;
  width:80px;
  padding-left:15px;
  float:left;
}

@media (min-width: 751px) {
  .sideHead {
    margin-top:130px;
  }
}

/* PCブラウザ 月表示のレイアウト */
/* ボタン上部の余白 */
.top{
  margin-top:20px;
}

/* モバイル 月表示のレイアウト*/
/* 月表示レイアウトの大枠 */
.month{
  height:40px;
  width:100%;
  position:relative;
  margin-bottom:30px;
}

/* 月表示見出し */
.head{
  width:20%;
  height:20px;
  position:absolute;
  left:40%;
}

/* 前月表示ボタン */
.before{
  width:20%;
  height:20px;
  position:absolute;
  left:0;
  bottom:0;
}

/* 後月表示ボタン */
.after{
  width:20%;
  height:20px;
  position:absolute;
  right:0;
  bottom:0;
}