<!DOCTYPE html>
<html>
<head>
  <title>BudgetBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, install-scale=1">
</head>
<body>
  
  <!-- エラーメッセージのパーシャル -->
  <%= render 'spendings/error_messages' %>
  
  <%= yield %>

</body>
</html>